@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bustamante Federico<br />
    Saavedra, Capital Federal<br />
    <abbr title="Teléfono">Teléfono:</abbr>
    11-3925-5101
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:Support@example.com">bustamantefed@gmail.com</a><br />
</address>